.base-action-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 68px;
    width: fit-content;
    padding: 0.8rem 1rem;
    cursor: pointer;
    white-space: nowrap;
    transition: color 0.5s;
    background: #E1887F;
    border: 1px solid #000000;
    border-radius: 20px;
    filter: drop-shadow(3.29792px 4.39722px 4.39722px rgba(0, 0, 0, 0.25));
}

.base-action-button.join-conference-button {
    padding: 0.8rem 1rem;
    background: #E1887F;
    border: 1.1px solid #000000;
    border-radius: 15px;
    box-sizing: border-box;
}

.base-action-button.create-conference-button {
    padding: 1.5rem 2rem;
    background: #FF0000;
    border: 1px solid #000000;
    border-radius: 15px;
    box-sizing: border-box;
}

.base-action-button .title {
    color: white;
    font-size: 18pt;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.05em;
    opacity: 0.9;
}

.base-action-button:hover {
    background-color: #ff998e;
}

.base-action-button.create-conference-button:hover {
    background: #ff5b49;
}

@media screen and (max-width: 750px) {
    .base-action-button {
        width: 100%;
        border-radius: 15px;
    }
    .base-action-button.join-conference-button {
        height: 68px;
        width: 68px;
        min-width: 68px;
        .title {
            display: none;
        }

        &::before {
            content: url('/assets/arrow_forward.svg');
            display: inline-block;
            align-self: center;
        }
    }
}

@media screen and (max-width: 500px) {
    .base-action-button.join-conference-button {
        height: 58px;
        width: 58px;
        min-width: 58px;
    }
}