.field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 68px;
    padding: 18px 12px;
    border: 1.1px solid #000000;
    border-radius: 20px;
    background-color: #FFB7B9;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18pt;
    letter-spacing: 0.05em;
    color: #000000;
}

.field::placeholder {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18pt;
    text-align: left;
    letter-spacing: 0.05em;
    color: #000000;
    opacity: 0.29;
}

.field > .icon {
    position: absolute;
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    width: 1.75rem;
}

.field:has(.icon) input {
    padding-left: 2.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::placeholder {
    opacity: 0.5;
}

input[type=number] {
    -moz-appearance: textfield;
}
